customH1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30pt;
    width: 100%;
    text-align: center;
    color: whitesmoke;
}

button {
    width: 130px;
    color: #1E4D9B;
    background-color: #1E4D9B;
}

button:hover {
    color: #1E4DCC;
    background-color: #1E4DCC;
    cursor: pointer;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.accordion {
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    outline: none;
    margin-top: 5px;
    margin-bottom: 5px;
  }

.accordion .block {
    position: relative;
    color: #1E4D9B;
    background-color: #1E4D9B;
    border-radius: 10px;
    outline: none;
}

.accordion .block .block-label {
    position: relative;
    padding: 10px;
    color: whitesmoke;
    cursor: pointer;
}

.accordion .block .block-label:hover {
    background-color: #2061c9;
    border-radius: 10px;
    -webkit-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
}

.accordion .block .block-label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 1em;
}

.accordion .block.active .block-label::before {
    content: '-';
    right: 11px;
}


.accordion .block .block-contents {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: none;
}

.accordion .block.active .block-contents {
    height: 120px;
    padding: 10px;
}

.focusParent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

body {
    background-color: #111
}

p {
    color: whitesmoke;
}

center {
    color: whitesmoke;
}

#last_updated {
    color: whitesmoke;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

a:link {
    color: #CC00A1;
}

a:visited {
    color: #CC00A1;
}

a:hover {
    color: #EC00AA;
}

a:active {
    color: #FFFFFF;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
}

.footer-element {
    margin-left: 5px;
    margin-right: 5px;
}

.media {
    transition: all .1s ease-in-out;
}

.media:hover {
    transform: scale(1.1);
}

/* Latest compiled and minified CSS included as External Resource*/

/* Optional theme */
@import url('//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css');

body {
    margin: 10px;
}

.panel-group {
  cursor: pointer;
}